<!-- ------ -->
<!-- Header -->
<!-- ------ -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select interface="popover" formControlName="sort">
            <ion-select-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
              {{sortOption.label}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="pricetag-outline" slot="start"></ion-icon>
          <ion-input placeholder="Categories"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input maxlength="40" placeholder="Search" [clearInput]="true" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<!-- ------ -->
<!-- Footer -->
<!-- ------ -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="addMonths(-1)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>{{ date | date:'MMMM yyyy' }}</ion-title>
      <ion-button (click)="addMonths(1)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

