<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<!-- ------ -->
<!-- Footer -->
<!-- ------ -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="addMonths(-1)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>{{ date | date:'MMMM yyyy' }}</ion-title>
      <ion-button (click)="addMonths(1)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
